header img{
    max-width: 100px;
}

.submenu{
    background-color: rgba(185, 36, 52, 1);
}

#submenu .container {
    justify-content: center;
}

.submenu .dropdown-menu{
    background-color: rgba(185, 36, 52, 1);
}

.submenu .nav-underline .dropdown a:hover{
    color: black;
}

.submenu #dropdown-item:hover{
    color: #ffff;
}

.submenu .nav-underline{
    text-decoration: none;
}

.submenu .nav-underline .nav-link{
    font-weight: normal;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.submenu .nav-underline a, .nav-underline .nav-link.active, .nav-underline .show>.nav-link{
    font-weight: bold;
}

.submenu .nav-underline a,
.nav-underline .nav-link.active, .nav-underline .show>.nav-link{
    color: #ffff;
}

.bg-body-tertiary{
    background-color: none;
}

header{
    background-color: rgb(248, 249, 250);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.234);
}

.carousel-caption{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34);
}

#endereço i{
    font-size: 20px;
}

.título-slide{
    text-transform: uppercase;
}

#Lives-cultos{
    background-color: rgba(66, 67, 68, 1);
    color:#ffff
}

#Lives-cultos .col-4 i:not(button i){
    font-size: 50px;
}

#Lives-cultos a{
    color: #ffff;
}
#Lives-cultos a:hover{
    color: black;
}

.texto-colorido{
    color: rgba(185, 36, 52, 1);
}

.texto-colorido2{
    color: #ffff;
}

#OqueAcreditamos{
    background-color: rgba(66, 67, 68, 1);
    color: #ffff;
}

#endereço{
    background-color: rgba(66, 67, 68, 1);
}

#endereço {
    background-color: rgb(172, 67, 77);
}

#endereço h2{
    padding-bottom: 24px;
}

#endereço .col-6{
    padding: 0 0;
}

.list-group-item{
    color: #ffff;
}

.lista-endereco{
    align-items: center;
}

.fixonotopo{
    position: fixed;
    top:0px;
    width: 100%;
}

footer{
    height: 200px;
    width: 100%;
    background-color: #ffff;
}

footer h4{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.362);
    margin-bottom: 0;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .links ul{
    list-style: none;
}

/* BREAKPOINTS */

@media (max-width: 576px){
    header .container{
        display: flex;
        justify-content: center;
    }
    header .navbar-brand{
        padding: 0;
        margin: 0;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }

    .busca{
        display: none;
    }
    header .navbar-expand-lg{
        padding: 0;
    }
    .submenu .container{
        padding: 5px 5px;
        width: 50%;
    }
    nav .container-fluid button{
        margin-bottom: 5px;
    }
    .navbar-toggler{
        background-color:none;
        border: none;
    } 
    .navbar-toggler:active{
        border: none;
    }

    .título-slide{
        display: none;
        font-size: 20px;
        margin-bottom: 0;
    }
    .corpo-slide{
        display: none;
        font-size: 8px;
        margin-bottom: 0;
    }
    .carousel-caption{
        padding-bottom: 5px;
    }
    
    #Lives-cultos .col-4 i{
        font-size: 10px;
    }

    #Lives-cultos h3{
        font-size: 20px;
        margin-bottom: 4px;
    }
    #Lives-cultos p{
        font-size: 13px;
        margin-bottom: 8px;
    }
    #Lives-cultos button{
        font-size: 14px;
        padding: 3px 6px ;
    }

    #OqueAcreditamos h2{
        font-size: 20px;
    }
    #OqueAcreditamos .fs-4{
        font-size: 12px;
    }

    #endereço{
        padding-bottom: 5px;
    }
    #endereço ul{
        margin-bottom: 0;
        padding-left: 5px;
    }
    #endereço iframe{
        margin-left: 10px;
    }

    #endereço h4{
        font-size: 20px;
        margin-bottom: 5px;
    }

    #endereço p{
        margin-bottom: 10px;
    }

    #endereço .col-6{
        padding: 0 16px;
    }

    #endereço i{
        font-size: 16px;
    }

    #endereço h2{
        margin: 0;
        padding-bottom: 8px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    footer p{
        font-size: 15px;
    }

    footer .redes{
        margin-bottom: 16px;
    }

    footer .container{
        padding-top: 10px;
    }

    footer .links-nav{
        display: none;
    }
}